@use "../breakpoints.scss" as breakpoints;

.hover {
    transition: var(--transition-micro-medium);

    &:hover {
        transform: translateX(var(--static-space-4));
    }
}

.avatar {
  z-index: 10;
}

.blockAlign {
  align-items: center;
  justify-content: flex-start;
}

.textAlign {
  text-align: left;
  
  @media (max-width: 560px) {
    text-align: center;
    align-items: center;
  }
}